.female-list{
    background-color: #feebee !important;
}
.list-img{
    width: 65px !important;
    height: 65px !important;
}
.list-content{
    margin-left: 20px !important;
}
.ul-list{
    margin: -1px !important;
}